body {
    margin: 0;
    background-image: url(imagenes/neflix2.jpg);
    font-family: Arial, sans-serif;
}

.bg-gradient {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
}

.header {
    background-color: #050505;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    
}

.nav {
    display: flex;
    align-items: center;
}

.header img {
    width: 100px;
}

.header nav a {
    color: #fcf9f9;
    text-decoration: none;
    margin-right: 20px;
}

.button2 {
    background-color: #d5212a;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 80vh;

}

.main .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
}

.boton2 {
    background-color: #b12626;
    color: azure;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;

}

.main input {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #141414aa;
    justify-content: center
}

footer {
    background-color: #141414;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #ffffff;

}

footer p a,
a:visited,
a:hover,
a:link {
    text-decoration: none;
    color: #fcf6f6;

}

footer ul {
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 700px;
}

footer ul li {
    margin: 8px;
}

.form-container {
    background-color: #141414;
    padding: 40px;
    border-radius: 10px;
    max-width: 40px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container form input {
    margin-bottom: 9px;
    background-color: #ffffff10;
}

.form-container .btn-code {
    background-color: #141414d0;
}

.form-container form button {
    margin-bottom: 8px;
}

.form-container form {
    display: flex;
    justify-content: center;
    width: 100px;
}

.text-align-center {
    text-align: center;
}

.remember {
    margin-top: 8px;
}
.abrir-Menu {
    display: none;
}
.cerrar-menu {
    display: none;
}
.nav-list {
    list-style-type: none;
    display: flex;
    gap: irem;

}
.nav-list li a {
    text-decoration: none;
    color: #d2c8c8;
}
@media screen and (max-width:550px) {

    .abrir-Menu {
        display: block;
        border: 0;
        background: red;/*Color del boton*/
        color: white; /*Color de las lineas*/
    }
    .cerrar-menu {
        display: block;
        border: 0;
    }
    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: irem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #060606;
        padding: 2rem;
    }
    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    .nav-list{
        flex-direction: column;
        align-items: end;
        gap: 2rem;
    }
    .nav-list li a {
        color: #d2c8c8;
    }


}